<header>
   <nav>
       <a href="{{url_for('login')}}">login</a> |
       <a href="{{url_for('create_channel')}}">create channel</a> |
       <a href="{{url_for('create_program')}}">create program</a> |
       <a href="{{url_for('create_schedule')}}">create schedule</a> |
       <a href="{{url_for('test_db')}}">test_db</a>
       <br/>
       <a href="{{url_for('show_channels')}}">show channels</a> |
       <a href="{{url_for('show_programs')}}">show programs</a> |
       <a href="{{url_for('show_schedules')}}">show schedules</a> |

       <br/>
       <a href="{{url_for('table_programs')}}">table programs</a> |
       <a href="{{url_for('table_programs_ajax')}}">table programs ajax</a> |
       <a href="{{url_for('table_programs_server')}}">table programs server</a> |
  </nav>
</header>