<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">

{% extends 'base_layout.html' %}

{% block content %}
<div class="form-wrapper">
  <h2 class="title">create schedule</h2>
    {% for field, errors in form.errors.items() %}
    {{ ', '.join(errors) }}
    {% endfor %}
  <form method="POST" action="{{url_for('create_program')}}">
      {{ form.csrf_token }}
      <fieldset class="form-field">
          {{ form.start.label }}
          {{ form.start }}
      </fieldset>
      <fieldset class="form-field">
          {{ form.end.label }}
          {{ form.end }}
      </fieldset>
      {{ form.submit }}
  </form>
</div>
{% endblock %}



